#container-table {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}

#container-table table {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width: 25vw;
  font-size: 1.3rem;
}

#container-table th, td {
  text-align: center;
  padding: 5px 25px;
}

#btn-new-register {
  position: absolute;
  right: 200px;
  border: none;
  border-radius: 5px;
  background-color: white;
  padding: 5px 7px;
  font-weight: bold;
  color: #00172b;
  transition: all 300ms ease-in-out;
}

#btn-new-register:hover {
  cursor: pointer;
  background-color: #00172b;
  color: white;
  border: solid 1px white;
}